body {
    padding-top: 56px;
    font-family: 'Raleway', sans-serif;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    margin-bottom: 60px;
    padding: 0;
    min-height: calc(100vh - 116px);
}

.main-content>.container {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}